.third-level-menu
{
    position: absolute;
    top: 0;
    right: -150px;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}
/* Een padding zorgt er voor dat er een ruimte ontstaat om een bepaald item.
Door de padding op nul te zetten maakt de lijst het zelf aan. Marging wordt gebruikt 
voor de ruimte om een bepaald element. het heeft dus een beetje het zelfde effect als padding.
Display zorgt er voor hoe een bepaalde inhoud wordt weer gegeven. Door een absolute postion te gebruiken
zit de content zo dicht mogelijk bij de voor gaande content. In dit geval is dat er niet en gebruikt 
het de body voor zijn positie. Position geeft dus aan hoe iets is gepositioneerd.*/
.third-level-menu > li
{
    height: 30px;
    background: black;
}
.third-level-menu > li:hover { background: #CCCCCC; }

.second-level-menu
{
    position: absolute;
    top: 30px;
    left: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}
/*width geeft aan hoe wijd de ruimte om de content heen moet zijn.*/
.second-level-menu > li
{
    position: relative;
    height: 30px;
    background: black;
}
.second-level-menu > li:hover { background: #CCCCCC; }

.top-level-menu
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-level-menu > li
{
    position: relative;
    float: left;
    height: 30px;
    width: 150px;
    background: black;
}
.top-level-menu > li:hover { background: #CCCCCC; }

.top-level-menu li:hover > ul
{
    
    display: inline;
}
/* Door hover te gebruiken zorg je dat er een bepaald iets gebeurt als je met je muis over bijvoorbeeld een knop gaat.*/



.top-level-menu a 
{
    font: bold 14px Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0 0 0 10px;
    display: block;
    line-height: 30px;
}
.top-level-menu a:hover { color: #000000; }

div
{
    background-color: aliceblue;
    padding: 0;
    color: black;
}

/* Background-color is gebruikt om de achtergrond van een bepaald element in te kleuren.
Color is gebruikt om de tekst of content van zo een element een kleur te geven.
Tekst-align zorgt ervoor hoe de tekst is gepositioneerd. In dit geval is center gebruikt omdat
dit er goed uitziet.*/

footer
{
    background-color: black;
    padding: 0;
    color:#FFFFFF;
    text-align: center;
}

h1
{
    background-color: darkblue;
    padding: 0;
    color:#FFFFFF;
}

h2
{
    background-color: blue;
    padding: 0;
    color:#FFFFFF;
}


