ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li{
    float:left;
}

li a{
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display:none;
    position: absolute;
    background-color: white;
    min-width: 160xp;
}

.dropdown-content a{
    color: black;
    padding: 12xp 16xp;
    text-decoration: none;
    display: block;
}

.dropdown-content a : hover {background-color: #ddd;}
.dropwdon: hover .dropdown-content {display: block;}
